.default-btn {
    background-color: orange;
    border-radius: 16px;
    padding: 5px 10px;
    margin-bottom:3px;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
  }

span {
  color: #444444;
}

h6 {
  color: #444444;
}

.default-shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)
}